
.description {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.element {
  text-decoration: none;
  padding-top: 1em;
  display: block;
  font-weight: normal;
  font-size: 22px;
}

.element:hover {
  text-decoration: underline;
}

.elements li:nth-child(1):hover {
  color: darkorange;
}

.elements li:nth-child(2):hover {
  color: deepskyblue;
}

.elements li:nth-child(3):hover {
  color: yellow;
}


main {
  background-color: white;
}

.logos {
  display: flex;
  justify-content: center;
}

.logos img {
  margin-top: 2em;
  width: 80%;
  height: 400px;
}

